.general-sec{
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after , .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
        content: "";
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        display: none;
    }
    .swiper-button-next, .swiper-button-prev{
        top: 40%;
        i{
            font-size: 20px;
            color: #999999;
        }
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: -50px;
        
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: -50px;
    }
   
}


.general-sec .swiper-button-prev:hover , .general-sec .swiper-button-next:hover{
    i{
        color: #056bf5;
    }
   } 




.general-sec{
    padding: 60px 0;
   
 }

 .newArrivals{
    background-color: #f7f7f7;
 }

 
    .product-item{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      
    }
    
.like-cart-sec{
    position: absolute;
    top: 5px;
    inset-inline-end: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
        border-radius: 50%;
        filter: drop-shadow(0 0 7.5px rgba(0,0,0,0.05));
        background-color: #ffffff;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all linear .2s;
        i {
            font-size: 20px;
            color: #000000;
            text-align: center;
        }
    }
    .like-btn{
        margin-bottom: 5px;
        &:hover{
            background-color: red;
            i {
                color: #fff;
            }
        }
    }
    .cart-btn{
        &:hover{
            background-color: #000;
            i {
                color: #fff;
            }
        }
    }
}
.discount{
    width: 69px;
    height: 22px;
    border-radius: 11px;
    background-color: $main-color;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    inset-inline-start: 5px;
    }
    .item-desc{
        width: 100%;
        padding: 15px 0 0 0 ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .brand-name {
            font-size: 13px;
            line-height: 22px;
            color: #0a081c;
            margin-bottom: 10px;
            font-weight: 600;
            transition: all linear .2s;
            text-align: start;
            height: 44px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            &:hover{
                color: $main-color;
            }
        }
    }
    
.price{
    width: 100%;
   justify-content: flex-start;
    display: flex;
    align-items: center;
    .current-price{
        font-size: 16px;
        color: #056bf5;
        font-weight: 700;
        margin-bottom: 0;
        margin-inline-end: 9px;
    }
    .deleted{
        font-size: 14px;
        text-decoration: line-through;
        color: #4d4d4d;
        font-weight: 300;
    }
}


.img-holder{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    img{
        width: 100%;
        display: block;
        max-width: 100%;
        transition: all linear .2s;
    }
}



.bestseller  , .coupons {
    .title-text-div a{
        color: #a09eb7;
        &:hover{
            color: #056bf5;
        }
    }
    
}





@include min-768 {
    .product-item{
        &:hover{
            .img-holder img {
                transform: scale(1.1);
            }
            .item-desc .brand-name{
                color: $main-color;
            }
        }
    }
   
}


@include max-992 {
    .general-sec .swiper-button-next, .general-sec .swiper-button-prev{
        display: none;
    }
    .general-sec .swiper-horizontal > .swiper-pagination-bullets, .general-sec .swiper-pagination-bullets.swiper-pagination-horizontal, .general-sec .swiper-pagination-custom, .general-sec .swiper-pagination-fraction{
        display: block;
        bottom: -60px;
    }
    .general-sec{
        .swiper-pagination-bullet-active{
            background-color: $main-color;
        }
    }
    .general-sec{
        padding: 50px 0 100px 0;
    }
   
}

@include max-768 {
    
    .item-desc{
        align-items: center;
    }
    .general-sec{
        padding: 50px  0 65px 0 ;
    }
    .newArrivals{
        padding-bottom: 75px;
    }
    .general-sec .swiper-horizontal > .swiper-pagination-bullets, .general-sec .swiper-pagination-bullets.swiper-pagination-horizontal, .general-sec .swiper-pagination-custom, .general-sec .swiper-pagination-fraction{
        bottom: -35px;
    }
    .like-cart-sec button{
        width: 28px;
        height: 28px;
    }
    .like-cart-sec button i{
        font-size: 18px;
    }
    .discount{
        width: unset;
        height: unset;
        padding: 2px 8px;
        font-size: 11px;
        line-height: 14px;
    }
    .shoes , .accesories {
        .discount{
            font-size: 10px;
        }
    }
    .price{
        flex-direction: column;
        justify-content: space-between;
        height: 48px;
    }
    .item-desc .brand-name{
        text-align: center;
        line-height: 1.6;
        height: 39px;
        margin-bottom: 10px;
    }
    html[dir="ltr"]{
        .item-desc .brand-name{
            line-height: 1.5;
            height: 37px;
        }
    }
    .item-desc{
        padding: 10px 5px;
    }
    .price .current-price{
        margin-inline-end: 0;
        margin-bottom: 5px;
    }
}