.mega-menu{
    transition: all linear .2s;
    z-index: 999999;
    left: 0;
    border-top: 1px solid #f2f2f2;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 25px 0 40px 0;
    opacity: 0;
    visibility: hidden;
}
.mega-items-parent{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  column-gap: 30px;
}
.mega-img-holder{
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    img{
        width: 100%;
        height: auto;
        transition: all linear .2s;
    }
}
.mega-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover{
        .mega-item-text{
            color: $main-color;
        }
        .mega-img-holder img{
            transform: scale(1.1);
        }
    }
}
.mega-item-text{
    font-size: 14px;
    color: #0a081c;
    font-weight: 700;
    overflow: hidden;
    padding: 0 10px;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    // max-width: 80%;
    text-align: center;
    transition: all linear .2s;
    &:hover{
        color: $main-color;
    }
}


@include max-992 {
    .mega-menu{
        padding: 0;
        transition: all linear 0.2s;
        z-index: unset;
        left: unset;
         border: none;
        position: static;
        top: unset;
        width: 100%;
        background-color: #ffffff;
        opacity: 1;
        visibility: visible;
        .container{
            padding: 0;
        }
    }
    .mega-item-text{
        font-size: 14px;
        font-weight: 500;
        overflow: visible;
        padding: 0;
        display: block;
        -webkit-line-clamp: unset;
        text-align: start;
    }
    .mega-item{
        width: 100%;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .mega-item:last-child{
        margin-bottom: 0;
    }
    .mega-img-holder {
        margin: 0;
        img{
            display: none;
        }
    }
    .mega-items-parent{
        padding-top: 15px;
        padding-bottom: 10px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
   
    
}