.nav-arrow-rotate::after {
    transform:   rotate(180deg)  !important;
}
.main-nav-padding{
    padding: 10px 0 ;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}

.overflow-hiddden {
    overflow: hidden;
}

.li-drop > {
    .line-height-38{
        line-height: 38px;
    }
}
